---
layout: default
number: "17752474570"
address_line_1: blogging - recipe sharing - teaching - photographing - and of course,
  eating
city: ''
state: ''
zipcode: ''
days_open: ''
hours_open: ''
email: sarah@rabbitholepie.com
instagram_link: https://www.instagram.com/rabbitholepie/
twitter_link: https://twitter.com/rabbitholepie?
facebook_link: https://www.facebook.com/rabbitholepie/
maps_link: ''
show_announcement_link: 'yes'
announcement_link_text: order
header_image: "/uploads/IMG_7603 4.jpg"
header_headline: FOOD. IS. ART.
mission_text_paragrah_1: 'Mission statement: honoring the craft of cooking'
mission_text_paragrah_2: ''
mission_text_paragrah_3: ''
introduction_section_image: "/uploads/IMG_8230.JPG"
introduction_section_headline: LET'S GO DOWN THE RABBIT HOLE...
announcement_section_image: "/uploads/IMG_5867.JPG"
announcement_section_sub_headline: ''
announcement_section_headline: FOOD PHOTOGRAPHY
announcement_section_text: showcase your art.. get it photographed!
announcement_section_show_menu_button: 'yes'
announcement_section_menu_button_text: REQUEST A QUOTE
announcement_section_show_secondary_button: 'no'
announcement_section_secondary_button_text: ''
announcement_section_secondary_button_link: mailto:sarah@rabbitholepie.com
baker_image: "/uploads/eat-more-pie.jpg"
baker_headline: MY STORY
about_text_paragrah_1: Raised locally with a homemaker mother and a culinary chef
  stepmother, Sarah stuck to her roots for higher education, receiving her undergraduate
  degree from UNR in the Liberal Arts. At this time, she worked in and fell in love
  with the hospitality industry, making it a personal goal to learn every position
  from front of house to back of house and understand the restaurant system as a whole.
  From there, she pursued culinary training in Napa Valley, CA where she graduated
  at the top her class and then worked under the direction of some of the most talented
  and influential chefs in the industry - Cindy Pawlcyn, Kristopher Kostow and Thomas
  Keller. Sarah cultivated a diverse knowledge base and was trained in both savory
  and pastry cooking. Although she enjoys both, she realized she has a propensity
  toward pastry due to the technical skill and problem solving involved. Upon her
  return to Reno she re-entered the culinary community and met Mark Trujillo of Hub
  Coffee Roasters where she spearheaded the creation of a small plates menu for their
  tea bar, and produced a variety of daily pastries for the coffee shop.
about_text_paragrah_2: 'Through this experience there was one concept that was always
  on the radar, but never fully explored: coffee and pie. The exactness and dedication
  in creating expertly crafted coffee and expertly crafted pie mirror each other.
  Both demand a mastery of technique and require attention to flavor and balance.
  Both provide a sense of comfort and are a catalyst in bringing people together.
  Rabbit Hole Pie and Hub Coffee Roasters share these commonalities and are fueled
  by similar interests, so naturally they became collaborative partners. '
about_text_paragrah_3: 'The name is a nod to the thrilling, yet terrifying notion
  of venturing out and starting a business. The expression "going down the rabbit
  hole" is described as entering into a situation or beginning a process or journey
  that is particularly strange, problematic, difficult or chaotic, especially one
  that becomes increasingly so as it develops or unfolds. Like Alice tenaciously pursuing
  the unknown, Sarah is driven by what there is to discover. '
ending_section_image: "/uploads/IMG_8229.jpg"
ending_section_sub_headline: Let's cook together..
ending_section_headline: CUSTOMIZED COOKING DEMOS
ending_section_text: ''

---
{% assign num-1 = page.number | slice: 0 %}
{% assign num-2 = page.number | slice: 1, 3 %}
{% assign num-3 = page.number | slice: 4, 3 %}
{% assign num-4 = page.number | slice: 7, 4 %}
{% assign phone_number = num-1 | append: '.' | append: num-2 | append: '.' | append: num-3 | append: '.' | append: num-4 %}
{% include header.html %}

       <main>
           {% include hero.html %}
           {% include menu-overlay.html %}
           <div class="section intro">
               <p>
                    {{ page.mission_text_paragrah_1 }}
               </p>
               <p>
                    {{ page.mission_text_paragrah_2 }}
                </p>
                <p>
                    {{ page.mission_text_paragrah_3 }}
                </p>
           </div>
           <div id="location" class="section">
                <div class="inner">
                    <div class="the-1-3-right-container">
                        <div class="image-container container-padding border" style="background: url('{{ site.baseurl }}{{ page.introduction_section_image }}')"></div>
                        <div class="border standard-container-text container-padding">
                            <div class="txt-caption">
                                {{ page.days_open }} {{ page.hours_open }}
                            </div>
                            <h2>
                                {{ page.introduction_section_headline }}
                            </h2>
                            <p> {{ page.address_line_1}}, {{ page.city }}, {{ page.state }} {{ page.zipcode }} </p>
                            <a href="tel:{{page.number}}">
                                <p><u>{{ phone_number }}</u></p>
                            </a>
                            <a href="{{ page.maps_link }}" target="_blank">
                                <div class="button small white">
                                    directions
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
           </div>
           {% for post in site.posts %}
                <div id="menu" class="section item">
                    <div class="inner">
                        <div class="border image-container container-padding" style="background: url('{{ site.baseurl }}{{ post.background_image}}')">
                            <h2 class="underline shadow">
                                {{ post.title}}
                            </h2>
                        </div>
                        <div class="text-container">
                            <div class="text">
                                <p>
                                    {{ post.description}}
                                </p>
                                <a href="{{ site.baseurl }}{{ post.item_menu }}" target="_blank">
                                    <div class="button small black">
                                        view full menu
                                    </div>
                                </a>
                            </div>
                            <div class="badges-container">
                                {% if post.apple == true %}
                                    <img src="{{ site.baseurl }}/assets/apple.png">
                                {% endif %}
                                {% if post.coconut == true %}
                                    <img src="{{ site.baseurl }}/assets/coconut.png">    
                                {% endif %}
                                {% if post.hazelnut == true %}
                                    <img src="{{ site.baseurl }}/assets/hazelnut.png">
                                {% endif %}
                                {% if post.brule == true %}
                                    <img src="{{ site.baseurl }}/assets/brule.png">
                                {% endif %}
                                {% if post.blueberry == true %}
                                    <img src="{{ site.baseurl }}/assets/blueberry.png">    
                                {% endif %}
                                {% if post.pecan == true %}
                                    <img src="{{ site.baseurl }}/assets/pecan.png">
                                {% endif %}
                                {% if post.cranberry == true %}
                                    <img src="{{ site.baseurl }}/assets/cranberry.png">
                                {% endif %}
                                {% if post.pumpkin == true %}
                                    <img src="{{ site.baseurl }}/assets/pumpkin.png">    
                                {% endif %}
                                {% if post.lemon == true %}
                                    <img src="{{ site.baseurl }}/assets/lemon.png">
                                {% endif %}
                                {% if post.strawberry == true %}
                                    <img src="{{ site.baseurl }}/assets/strawberry.png">
                                {% endif %}
                                {% if post.meat == true %}
                                    <img src="{{ site.baseurl }}/assets/meat.png">    
                                {% endif %}
                                {% if post.vegetables == true %}
                                    <img src="{{ site.baseurl }}/assets/vegetable.png">
                                {% endif %}
                                {% if post.orange == true %}
                                    <img src="{{ site.baseurl }}/assets/orange.png">
                                {% endif %}
                                {% if post.peppermint == true %}
                                    <img src="{{ site.baseurl }}/assets/peppermint.png">    
                                {% endif %}
                                {% if post.berry == true %}
                                    <img src="{{ site.baseurl }}/assets/berry.png">
                                {% endif %}
                                {% if post.sweet == true %}
                                <img src="{{ site.baseurl }}/assets/sweet.png">
                                {% endif %}
                                {% if post.savory == true %}
                                <img src="{{ site.baseurl }}/assets/savory.png">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
           {% endfor %}
            <div id="holiday" class="section">
                <div class="inner">
                    <div class="the-1-3-right-container">
                        <div class="image-container container-padding border" style="background: url('{{ site.baseurl }}{{ page.announcement_section_image }}')"></div>
                        <div class="border standard-container-text container-padding">
                            <div class="txt-caption">
                                {{ page.announcement_section_sub_headline }}
                            </div>
                            <h2>
                                {{ page.announcement_section_headline }}
                            </h2>
                            <p>{{ page.announcement_section_text }}</p>
                            <p></p>

                            {% if page.announcement_section_show_menu_button == "yes" %}
                                <a href="{{ site.baseurl }}{{ site.data.holiday.menu_holiday }}" target="_blank">
                                    <div class="button small white">
                                        {{ page.announcement_section_menu_button_text }}
                                    </div>
                                </a>
                            {% endif %}
                            {% if page.announcement_section_show_secondary_button == "yes" %}
                                <a href="{{ page.announcement_section_secondary_button_link }}" target="_blank">
                                    <div class="button small white">
                                        {{ page.announcement_section_secondary_button_text }}
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% include about.html %}
            {% include hub.html %}
       </main>

       {% include footer.html %}