<div id="about" class="section trust">
    <div class="inner">
        <div class="image-container border container-padding" style="background: url('{{ site.baseurl }}{{ page.baker_image}}')">
            <h2 class="shadow">Get to Know Your Baker</h2>
        </div>
        <div class="paragraph">
            <p>
                {{ page.about_text_paragrah_1 }}
            </p>
            <p>
                {{ page.about_text_paragrah_2 }}
            </p>
            <p>
                {{ page.about_text_paragrah_3 }}
            </p>
        </div>
    </div>
</div>