<div id="about" class="section trust">
    <div class="inner">
        <div class="image-container border container-padding" style="background: url('{{ site.baseurl }}/assets/store-03.jpg')">
            <h2 class="shadow">Trust Your Baker</h2>
        </div>
        <div class="paragraph">
            <p>
                Raised locally with a homemaker mother and a culinary chef stepmother, Sarah stuck to her roots for higher education,
                receiving her undergraduate degree from UNR in the Liberal Arts. At this time, she worked in and fell in love with the
                hospitality industry, making it a personal goal to learn every position from front of house to back of house and
                understand the restaurant system as a whole. From there, she pursued culinary training in Napa Valley, CA where she
                graduated at the top her class and then worked under the direction of some of the most talented and influential chefs
                in the industry - Cindy Pawlcyn, Kristopher Kostow and Thomas Keller. Sarah cultivated a diverse knowledge base, and
                was trained in both savory and pastry cooking. Although she enjoys both, she realized she has a propensity toward
                pastry due to the technical skill and problem solving involved. Upon her return to Reno, she re-entered the culinary
                community here and met Mark Trujillo of Hub Coffee Roasters where she spearheaded the creation of a small plates menu
                for their tea bar, and produced a variety of daily pastries for the coffee shop.
            </p>
            <p>
                Through this experience, there was one concept that was always on the radar, but never fully explored: coffee and pie.
                The exactness and dedication in creating expertly crafted coffee and expertly crafted pie mirror each other. Both
                demand a mastery of technique, and command attention to flavor and balance. Both provide a sense of comfort and are the
                catalyst of bringing people together, and this is what fuels their prospective businesses.
            </p>
            <p>
                The name is a nod to the thrilling, yet terrifying notion of venturing out and starting a business. The expression,
                going down the rabbit hole, is described as entering into a situation or beginning a process or journey that is
                particularly strange, problematic, difficult or chaotic, especially one that becomes increasingly so as it develops or
                unfolds. Like Alice tenaciously pursuing the unknown, Sarah is driven by what there is to discover.
            </p>
        </div>
    </div>
</div>