<footer>
    <div class="footer">
        <div class="nav">
            <a href="#location"><p>location</p></a>
            <a href="#menu"><p>menu</p></a>
            <a href="#about"><p>about</p></a>
            <a href="#home"><p>home</p></a>

            <div class="logo hide">
                <img src="assets/logo.png" alt="Rabbit Hole Logo">
            </div>

            <div class="info hide">
                <p>{{ page.days_open }} {{ page.hours_open }}</p>
                <p>{{ page.address_line_1}}, {{ page.city }}, {{ page.state }} {{ page.zipcode }}</p>
                <p>{{ phone_number }}</p>
                <a href="mailto:{{page.email}}">
                    <p class="email"><u>{{ page.email }}</u></p>
                </a>
            </div>

            <a href="https://www.instagram.com/rabbitholepie/" target="_blank">
                <img src="{{ site.baseurl }}/assets/instagram-tan.png" alt="Rabbit Role Instagram" class="hide">
            </a>


        </div>
        <div class="logo">
            <a href="#home">
                <img src="assets/logo.png" alt="Rabbit Hole Logo">
            </a>
        </div>
        <div class="info">
            <p>{{ page.days_open }} {{ page.hours_open }}</p>
            <p>{{ page.address_line_1}}, {{ page.city }}, {{ page.state }} {{ page.zipcode }}</p>
            <a href="tel:{{page.number}}"><p><u>{{ phone_number }}</u></p></a>
            <a href="mailto:{{page.email}}"><p class="email"><u>{{ page.email }}</u></p></a>
        </div>
    </div>
</footer>