<footer>
    <div class="footer">
        <div class="nav">
            <a href="#location"><p>location</p></a>
            <a href="#menu"><p>menu</p></a>
            <a href="#about"><p>about</p></a>
            <a href="#home"><p>home</p></a>

            <div class="logo hide">
                <img src="assets/logo.png" alt="Rabbit Hole Logo">
            </div>

            <div class="info hide">
                <p>Mon - Fri: 6am - 3pm
                <p>727 Riverside Dr, Reno, NV 89503</p>
                <p>1.775.453.1911</p>
                <p class="email">sarah@rabbitholepie.com</p>
            </div>

            <a href="https://www.instagram.com/rabbitholepie/" target="_blank">
                <img src="{{ site.baseurl }}/assets/instagram-tan.png" alt="Rabbit Role Instagram" class="hide">
            </a>


        </div>
        <div class="logo">
            <a href="#home">
                <img src="assets/logo.png" alt="Rabbit Hole Logo">
            </a>
        </div>
        <div class="info">
            <p>Mon - Fri: 6am - 3pm
            <p>727 Riverside Dr, Reno, NV 89503</p>
            <a href="tel:17754531911"><p><u>1.775.453.1911</u></p></a>
            <a href="mailto:sarah@rabbitholepie.com"><p class="email"><u>sarah@rabbitholepie.com</u></p></a>
        </div>
    </div>
</footer>