<footer>
    <div class="footer">
        <div class="nav">
            <a href="#"><p>location</p></a>
            <a href="#"><p>menu</p></a>
            <a href="#"><p>about</p></a>
            <a href="#"><p>home</p></a>

            <div class="logo hide">
                <img src="assets/logo.png" alt="Rabbit Hole Logo">
            </div>

            <div class="info hide">
                <p>Mon - Fri: 6am - 3pm
                <p>727 Riverside Dr, Reno, NV 89503</p>
                <p>1.775.453.1911</p>
                <p class="email">sarah@rabbitholepie.com</p>
            </div>

            <a href="">
                <img src="assets/instagram.png" alt="Instagram Icon">
            </a>

        </div>
        <div class="logo">
            <img src="assets/logo.png" alt="Rabbit Hole Logo">
        </div>
        <div class="info">
            <p>Mon - Fri: 6am - 3pm
            <p>727 Riverside Dr, Reno, NV 89503</p>
            <p>1.775.453.1911</p>
            <p class="email">sarah@rabbitholepie.com</p>
        </div>
    </div>
</footer>