<header>
    <a href="#home"><img class="logo" src="/assets/logo-long.png"></a>
    <nav>
        <a href="#location" class="hide"><p>location</p></a>
        <a href="#menu" class="hide"><p>menu</p></a>
        <a href="#about" class="hide"><p>about</p></a>
        <a href="#contact" class="hide"><p>contact</p></a>
        <a href="https://www.instagram.com/rabbitholepie/" target="_blank">
            <img src="/assets/instagram-tan.png" alt="Rabbit Role Instagram" class="hide">
        </a>
        {% include menu.svg %}
    </nav>
</header>

<script>
    function addClass() {
        $('header').addClass('after-scroll');
        $('.hero').css('margin-top', '95px');
    }

    function removeClass() {
        $('header').removeClass('after-scroll');
        $('.hero').css('margin-top', '160px');
    }

    $(window).scroll(function (event) {
        if( $(window).scrollTop() == 0 ){
            removeClass();
        }
        else {
            addClass();
        }
    });
</script>