<div id="home" class="section top">
    <div class="inner">
        <div class="hero image-container container-padding" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{ site.baseurl }}/assets/pie-01.jpg')">
            <h1 class="clr-white shadow">Eat More Pie.</h1>
            <div class="large-paragraph clr-white shadow">Whipping up tasty treats with love and care</div>
        </div>
        <!--
        <div class="triple-container">
            <div id="directions-button" class="image-container border" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ site.baseurl }}/assets/directions.jpg')">
                <div class="button large mix">
                    Directions
                </div>
            </div>
            <div id="menu-button" class="image-container border" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ site.baseurl }}/assets/pie-02.jpg')">
                <div class="button large mix">
                    Menu
                </div>
            </div>
            <div id="about-button" class="image-container border" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ site.baseurl }}/assets/store-01.jpg')">
                <div class="button large mix">
                    About
                </div>
            </div>
        </div>
    -->
    </div>
</div>