<div class="section forces">
    <div class="inner">
        <div class="the-1-3-left-container">
            <div class="image-container container-padding border" style="background: url('{{ site.baseurl }}{{ page.ending_section_image }}')"></div>
            <div class="border standard-container-text container-padding">
                <div class="txt-caption">
                    {{ page.ending_section_sub_headline }}
                </div>
                <h2>
                    {{ page.ending_section_headline }}
                </h2>
                <p>
                    {{ page.ending_section_text }}
                </p>
            </div>
        </div>
    </div>
</div>