<div id="menu" class="section item">
    <div class="inner">
        <div class="border image-container container-padding" style="background: url('{{ site.baseurl }}/assets/pie-03.jpg')">
            <h2 class="underline shadow">
                Cherry Pie
            </h2>
        </div>
        <div class="text-container">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
                <a href="{{ site.baseurl }}/assets/menu.pdf" target="_blank">
                    <div class="button small black">
                        view full menu
                    </div>
                </a>
            </div>
            <div class="badges-container">
                <img src="{{ site.baseurl }}/assets/gf-dark.png">
                <img class="light" src="{{ site.baseurl }}/assets/v-light.png">
                <img src="{{ site.baseurl }}/assets/veg-dark.png">
            </div>
        </div>
    </div>
</div>