<div class="hide-menu" id="menu-overlay">
    <img onclick="hideMenu()" id="exit" src="{{ site.baseurl }}/assets/exit.png" alt="Exit Menu">
    <nav>
        <a href="#location" onclick="hideMenu()" class="hide"><p>location</p></a>
        <a href="#menu" onclick="hideMenu()" class="hide"><p>menu</p></a>
        <a href="#about" onclick="hideMenu()" class="hide"><p>about</p></a>
        <a href="#holiday" onclick="hideMenu()" class="hide"><p>holidays</p></a>
        <a href="https://www.instagram.com/rabbitholepie/" target="_blank">
            <img src="{{ site.baseurl }}/assets/instagram-tan.png" alt="Rabbit Role Instagram">
        </a>
    </nav>
</div>

<script>

    function hideMenu() {
        $("#menu-overlay").addClass("hide-menu");
    }

</script>