$base: 50px;
$radius: 12px;
$container-height: 25vw;
$border: $base / 10;
$max-height: 300px;

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.image-container {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    max-height: $max-height;
}

.container-padding {
    padding: $base * 1.75;
    @media( max-width: $tiny-break ){
        padding-left: $base;
        padding-right: $base;
    }
}

.border {
    margin: $border
}

.light {
    opacity: .4;

}

.button {
    text-align: center;
    border-radius: $radius;
    &.white {
        color: $white !important;
        border: 1px solid $white;
    }
    &.black {
        color: $black !important;
        border: 1px solid $black;
    }
    &.mix {
        color: $white !important;
        border: 1px solid $tan;
    }
    &.large {
        @extend h6;
        padding: $base / 2;
        @media( max-width: $lg-break ){
            padding: $base / 4;
        }
    }
    &.small {
        @extend p;
        padding: $base / 6 $base / 2;
        @media( max-width: $lg-break ){
            padding: $base / 8 $base / 2;
        }
    }
}

.section {
    padding: $base * .75 0;
    .inner {
        width: calc(100vw - 10px);
        margin: 0 auto;
        padding: 0 $border;
    }
}

a {
    text-decoration: none;
    color: $black;
    &:visited {
        color: $black;
    }
}
.shadow {
    text-shadow: 3px 3px 18px rgba( 0, 0, 0, .4);
}

.the-1-3-right-container {
    display: flex;
    flex-direction: row;
    @media( max-width: $sm-break ){
        flex-direction: column;
    }
    .image-container {
        flex: 1;
        min-height: $container-height;
        @media( max-width: $sm-break ){
                padding: $base;
            }
        }
}

.the-1-3-left-container {
    display: flex;
    flex-direction: row;
    @media( max-width: $sm-break ){
        flex-direction: column;
    }
    .image-container {
        flex: 1;
        height: $container-height;
        @media( max-width: $sm-break ){
            padding: $base;
        }
    }
}

.text-container {
    display: flex;
    flex-direction: row;
    .text {
        flex: 2;
    }
    .badges-container {
        flex: 1;
    }
}

.the-1-2-container {
    display: flex;
    flex-direction: row;
    @media( max-width: $sm-break ){
        flex-direction: column;
    }
    .image-container{
        flex: 6;
        @media( max-width: $sm-break ){
            padding: $base * 2.5;
        }
    }
    .standard-container-text {
        flex: 7;
    }
}

.standard-container-text {
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: $container-height;
    flex: 2;
    justify-content: center;
    max-height: $max-height;
    @media( max-width: $sm-break ){
        height: auto;
    }
    h2 {
        color: $white;
    }
    .txt-caption {
        color: $dark-grey;
    }
    p {
        color: $tan;
        margin-bottom: $base;
    }
    .button {
        margin-bottom: 0 !important;
    }
}

.underline {
    position: relative;
    &:before {
        content: "";
        background-color: $white;
        height: 1px;
        width: 80%;
        position: absolute;
        bottom: $base / -5;
    }
}