header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    #menu-icon {
        cursor: pointer;
    }
    .logo {
        width: 132px;
        height: 60px;
        padding: $base;
        transition-duration: .5s;
        @media(max-width: $sm-break){
            width: 99px;
            height: 45px; 
            padding: $base / 2;
        }
    }
    nav {
        padding: $base;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition-duration: .5s;
        @media(max-width: $sm-break){
            padding: $base / 2;
        }
        .hide {
            @media(max-width: 865px){
                display: none;
            }
        }
        a {
            margin-right: $base;
            &:last-of-type {
              //  margin-right: 0;

            }
        }
        img {
            width: 31px;
            height: 31px;
            margin-left: $base / 2;
        }
        svg {
           display: none;
           width: 28px;
           @media(max-width: 865px){
                display: block;
                height: 31px;
           }
        }
        .social-row {
            a {
                margin-right: 0;
                img {
                    margin-left: $base / 4;;
                }
            }
        }
    }
    &.after-scroll {
        .logo, nav {
            padding-top: $base / 4;
            padding-bottom: $base / 4;
        }
        .logo {
            width: 99px;
            height: 45px; 
        }
    }
}