#menu-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    nav {
        text-align: center;
        margin: auto auto;
        a {
            @extend h2;
        }
        img {
            width: 31px;
            height: 31px;
        }
    }
}