$white: white;
$grey: #E3E3E3;
$tan: #DCBE9A;
$dark-grey: #9B9B9B;
$black: #161616;

.clr-white {
    color: $white;
}

.clr-grey {
    color: $grey;
}

.clr-tan {
    color: $tan;
}

.clr-dark-grey {
    color: $dark-grey;
}

.clr-black {
    color: $black;
}