$seravek: Seravek, "sans-serif";
$lg-break: 1100px;
$med-break: 800px;
$sm-break: 700px;
$tiny-break: 560px;

body {
    font-family: $seravek;
}
h1, h2, h6, .txt-caption, p, .large-paragraph {
    transition-duration: .5s;
}

h1 {
    font-size: 100px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-style: bold;
    margin: 0;
    margin: 0;
    @media( max-width: $lg-break ){
        font-size: 75px;
        letter-spacing: 7.5px;
    }
    @media( max-width: $med-break ){
        font-size: 50px;
        letter-spacing: 5px;
    }
}

h2 {
    font-size: 53px;
    letter-spacing: 7.25px;
    text-transform: uppercase;
    font-style: bold;
    margin: 0;
    @media( max-width: $lg-break ){
        font-size: 40px;
        letter-spacing: 5.45px;
    }
    @media( max-width: $med-break ){
        font-size: 27px;
        letter-spacing: 3.625px;
    }
}

h6 {
    font-size: 20px;
    font-style: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 20px;
    @media( max-width: $lg-break ){
        font-size: 15px;
        letter-spacing: 3.65px;
    }
    @media( max-width: $med-break ){
        font-size: 13px;
        letter-spacing: 3.225px;
    }
}

p {
    font-size: 15px;
    letter-spacing: 2px;
    @media( max-width: $lg-break ){
        font-size: 13px;
        letter-spacing: 1.5px;
    }
}

.txt-caption {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    @media( max-width: $lg-break ){
        font-size: 11px;
        letter-spacing: 1.4px;
    }
}

.large-paragraph {
    font-size: 18px;
    letter-spacing: 2px;
        @media( max-width: $lg-break ){
        font-size: 15px;
        letter-spacing: 1.5px;
    }
}
